<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='icon' type='images/png' href='/images/headLogo.png'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#FDC23E">

  <!-- Semantic UI -->
  <link rel="stylesheet" type="text/css" href="../dist/semantic.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="../dist/semantic.js"></script>

  <!-- Our stylesheets -->
  <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/schedule.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/calendar.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/color.css">

  <!-- JQuery touch library -->
  <script src="../javascripts/jquery.touchSwipe.min.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Shrikhand" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

  <!-- Main Quill library -->
  <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>

  <!-- Theme included stylesheets -->
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

  <!-- Image libraries for Quill Editor -->
  <script src="../javascripts/image-resize.min.js"></script>
  <!-- <script src="/javascripts/image-drop.min.js"></script> -->

  <!-- 날짜 검색 라이브러리 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">

  <!-- 토스트 라이브러리 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  <title>
    <%= title %>
  </title>
</head>

<body class="nanumsquare">
  <div id="side_menu" class="ui left vertical menu sidebar main-sidebar">
    <div class="item">
      <h1 class="ui center aligned container head-logo" id="logo_schedury">Schedury</h1>
      <div class="user-profile">
        <img class="ui small circular image center aligned container" id="profile_pic" style="background-image: url('<%= uprofimg %>'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
        <div id="nicknamee" class="ui center aligned container user-nickname"></div>
        <div id="messagee" class="ui segment"></div>
      </div>
    </div>
    <div class="item">
      <div class="ui segment container">
        일기 미리보기
      </div>
    </div>
    <div class="ui sidebar-buttons">
      <a id="btn_cal_sync" class="" data-tooltip="캘린더 동기화" data-position="bottom right" onclick="">
        <i class="big black sync icon styler"></i>
      </a>
      <a href="/schedule/app:settings" class="" data-tooltip="환경설정" data-position="bottom right">
        <i class="big black cog icon styler"></i>
      </a>
    </div>
  </div>

  <div class="pusher noanim">

    <div class="calendar-navi-back" onclick="calendarNavToggle(1)">
    </div>

    <div class="calendar-navi-div">
      <div class="calendar-navi-main">
        <div class="ui card">
          <div class="search-self">

            <div class="ui input">
              <input id="search_year" class="input-orange" type="number" onchange="changeSearchDateSelf(0)">
            </div>
            <div class="date-spacer">
              -
            </div>
            <div class="ui input">
              <input id="search_month" class="input-orange" type="number" onchange="changeSearchDateSelf(1)">
            </div>
            <div class="date-spacer">
              -
            </div>
            <div class="ui input">
              <input id="search_day" class="input-orange" type="number" onchange="changeSearchDateSelf(2)">
            </div>

          </div>

          <div class="search-click">

          </div>

        </div>
      </div>
    </div>

    <header>
      <div class="button-menu">
        <button class="ui labeled icon button white" onclick="onMenu();">
          <i class="icon bars large"></i>
          <h4 class="head-schedury small">Schedury</h4>
        </button>
      </div>

      <div class="header-menu">
        <div id="header_main_menu" class="ui pagination menu">
          <a id="menu_schedule" class="item active" onclick="menuToggle(this.id);">
            <i class="icon calendar check outline"></i>일정</a>
          <a id="menu_diary" class="item" onclick="menuToggle(this.id);">
            <i class="icon edit outline"></i>일기</a>
          <a id="menu_pictures" class="item" onclick="menuToggle(this.id);">
            <i class="icon images outline"></i>사진</a>
        </div>
      </div>

    </header>

    <div class="card-back"></div>

    <div class="ui card info-card" id="info_card">
      <div class="content">
        <img class="ui small circular image center aligned container" id="profile_image" style="background-image: url('<%= uprofimg %>'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
        <div class="ui fluid input user-nickname">
          <input id="nickname" name="nickname" type="text" value="<%= unickname %>" readonly>
        </div>
        <div class="ui fluid input user-msg">
          <input id="user_message" name="userMessage" type="text" value="<%= umessage %>" readonly>
        </div>
        <div class="bottom-menu">
          <div class="ui circular button" id="edit_button" data-tooltip="정보 수정" data-position="left center">Edit</div>
          <div class="ui circular button" id="logout_button" onclick="location='/logout'" data-tooltip="로그아웃" data-position="right center">Logout</div>
        </div>
      </div>
    </div>

    <div class="calendar-this">
      <div class="calendar-menu">
        <div class="ui pagination menu">
          <a class="icon item" onclick="prevCalendar('<%= startDateOpt %>'); dateDecorator();">
            <i class="left chevron icon"></i>
          </a>

          <a id="tbCalendarYM" class="item calendar title" onclick="calendarNavToggle(0); getDateForSearch();">
          </a>

          <a class="icon item" onclick="nextCalendar('<%= startDateOpt %>'); dateDecorator();">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </div>

      <!-- 일정 - 캘린더 태그 -->
      <table id="view_calendar" class="ui segment calendar">
        <thead id="calendar_header">
        </thead>
        <tbody id="calendar_body" class="tbody-anim">
        </tbody>
      </table>

      <!-- 일기 미리보기 태그 -->
      <div id="view_diary_preview" class="height-fill">
        <header class="search-diary">
          <div id="searchbar_back" class="ui transparent left icon input" onmouseover="actionOnSearch(1)">
            <input type="text" placeholder="검색" onfocus="actionOnSearch(1)">
            <i class="search icon"></i>
          </div>

          <div id="searchbar" class="ui action input" onmouseout="actionOnSearch(0)" onmouseover="actionOnSearch(1)">
            <input class="input-orange" type="text" placeholder="검색">
            <select class="ui compact selection dropdown input-orange">
              <option selected="" value="all">전체검색</option>
              <option value="titleonly">제목만</option>
              <option value="contentonly">내용만</option>
            </select>
            <div class="ui button yellow">Search</div>
          </div>
        </header>

        <article id="diary_summary" class="padding"></article>
      </div>
    </div>
      
    <!-- 사진 미리보기 -->
    <div id='view_pictures'>
      <div id='view_pictures_layout'>
      
        <div class='images_column'>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
        </div>
        <div class='images_column'>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
        </div>
        <div class='images_column'>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
        </div>
        <div class='images_column'>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
        </div>
        <div class='images_column'>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>
          <div class='pre_image_layout'>
            <img class='pre_image' src='../images/pre_image.jpg'>
          </div>

        </div>


      </div>

    </div>
  </div>
  <!-- 모달 관련 태그 붙이는 곳 -->
  <!-- 프로필 사진 수정 모달 -->
  <div class="ui mini modal profpic-modal">
    <div class="ui actions grid modal-cont">
      <button class="centered row" onclick="$('#profileImage').click()">프로필 사진 변경</button>
      <button class="centered row" onclick="resetProfpic()">프로필 사진 삭제 (기본 이미지로 설정)</button>
      <button class="centered row" onclick="close_modal()">취소</button>
      <form action="/change_profile_img" id="change_profile_image" method="post" enctype="multipart/form-data">
        <input accept="image/jpeg, image/png" name="profileImage" id="profileImage" type="file" style="display: none" onchange="submitProf()">
      </form>
    </div>
  </div>

  <!-- 일기, 일정 모달 -->
  <div id='mod' class="ui longer modal">
    <div id="modal_content" class="ui two column stackable grid">
      <div id="left_cont" class="four wide column">
        <h2 id='modal_header_diary' class="ui center aligned header nanumsquare">7월 31일 화요일</h2>

        <div id="list_of_schedules" class="nanumsquare">
          <table id="sched_table" class="ui stackable table">
            <thead style="display: none">
              <tr>
                <th class="three wide"></th>
                <th class="ten wide"></th>
                <th class="three wide"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="일정1">
                <td class="schedule-time">오전</td>
                <td>
                  일정 이름 ddddddddd
                  <br> 일정 장소
                  <br>
                </td>
                <td>아이콘</td>
              </tr>
              <tr class="일정2">
                <td class="schedule-time">오후</td>
                <td>
                  일정 이름
                  <br> 일정 장소
                  <br>
                </td>
                <td>아이콘</td>
              </tr>
            </tbody>
            <tfoot class="full-width">
              <tr style="padding: 0">
                <th colspan="3" style="padding: 0 !important">
                  <button id="newsched_button" class="fluid ui button">
                    <i class="plus icon"></i>
                    새 일정 추가
                  </button>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div id="left_cont2" class="four wide column">
        <h2 id='modal_header_diary2' class="ui center aligned header nanumsquare">7월 31일 화요일</h2>
        <form action="/new_schedule" method="post">
            <div id="sched_name" class="ui input input-orange nanumsquare">
                <label style="width: 90%; margin: 10px 0">일정 이름</label>
                <input name="nameSched" id="input_sched_name" type="text" class="nanumsquare" placeholder="일정 이름">
            </div>
            
            <div class="ui input input-orange nanumsquare" style="width: 100%; display: flex; flex-direction: column;">
              <label style="width: 90%; margin: 10px 5%">날짜</label>
              <input name="dateSched" id="start_date" class="nanumsquare" type="text" placeholder="날짜" data-input>
            </div>

            <div class="ui input" style="width: 90%; margin: 10px 5%">
                <input name="allDay" id="all_day" type="checkbox">
                <label for="all_day" class="nanumsquare">종일</label>
            </div>
            <div style="display: flex; justify-content: center; margin: 0 auto 10px auto;">
                <div class="ui input" style="margin: 2px; width: 45%">
                    <input name="startTime" id="time1" placeholder="시작 시간" class="input-orange nanumsquare">
                </div>
                <div class="ui input" style="margin: 2px; width: 45%">
                    <input name="endTime" id="time2" placeholder="종료 시간" class="input-orange nanumsquare">
                </div>
            </div>

            <!-- <div class="cont_repeat">                        
                <div class="ui accordion nanumsquare">
                    <div class="title nanumsquare">
                        <i class="icon dropdown"></i>
                        반복 없음
                    </div>
                    <div class="content field">
                        <label class="transition hidden">일정 반복</label>
                        <div id="repeat_dropdown" class="ui selection dropdown nanumsquare">
                            <input id="p_repeat" type="hidden" name="repeat">
                            <i class="dropdown icon"></i>
                            <div class="default text">일정 반복</div>
                            <div class="menu">
                                <div class="item" data-value="일">매일</div>
                                <div class="item" data-value="주">매주</div>
                                <div class="item" data-value="개월">매달</div>
                                <div class="item" data-value="년">매년</div>
                            </div>
                        </div>
                        <div class="ui right labeled input">
                            <input type="text" value="1" name="numberPeriod">
                            <div id="repeating_period" class="ui basic label">
                                일마다
                            </div>
                        </div>
                        <div style="display: flex">
                            <div class="ui input">
                                <input name="endRepeat" id="end_repeat" class="nanumsquare" type="text" placeholder="종료일" data-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="cont_repeat nanumsquare" style="display: none">
                <div>
                    <label style="width: 90%; margin: 0 5%; line-height: 2;">일정 반복</label>
                    <div id="repeat_dropdown" class="ui selection dropdown nanumsquare">
                        <input id="p_repeat" type="hidden" name="repeat">
                        <i class="dropdown icon"></i>
                        <div class="default text">반복 없음</div>
                        <div class="menu">
                            <div class="item active selected" data-value="0">반복 없음</div>
                            <div class="item" data-value="1">매일</div>
                            <div class="item" data-value="2">매주</div>
                            <div class="item" data-value="3">매달</div>
                            <div class="item" data-value="4">매년</div>
                        </div>
                    </div>
                    <div id="repeat_details" class="ui right labeled input">
                        <input id="number_of_repeat" type="text" value="1" name="numberPeriod">
                        <div id="repeating_period" class="ui basic label">
                            일마다
                        </div>
                    </div>
                    <div id="repeat_details2">
                        <div class="ui input">
                            <input name="endRepeat" id="end_repeat" class="nanumsquare" type="text" placeholder="종료일" data-input>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sched_location" class="ui input input-orange nanumsquare" style="margin: 0 auto 10px auto;">
                <label style="width: 90%; margin: 5px 5%">장소</label>
                <input id='loc_sched' name="locationSched" type="text" class="nanumsquare" placeholder="일정 장소" style="width: 90%; margin: 5px 5%">
            </div>
            <div class="ui input" style="width: 90%; margin: 7px 5%">
                <input name="importantSched" id="important_schedule" type="checkbox">
                <label for="important_schedule" class="nanumsquare">중요</label>
            </div>

            <label class="nanumsquare" style="line-height: 2; margin: 0 5%">아이콘 선택</label>
            <div class="ui accordion" id="schedicon_accordion">
                <div class="title" style="margin: 0 5%">
                  <i class="caret down icon"></i>
                  <img class="ui image" id="selected_schedicon" src="/images/043-calendar.png">
                </div>
                <div class="content" id="icon_cont">
                  <div class="transition hidden icon_wrapper">
                    <% for(var j = 0; j<scheduleIcons.length; j++){ %>
                      <img class="sched_icons" id="sched_icon<%=j%>" src="/images/schedule/<%=scheduleIcons[j]%>" alt="">
                    <% } %>
                  </div>
                </div>
              </div>

            <div style="display: flex; justify-content: center; margin-top: 10px;">
                <input class="ui button yellow nanumsquare" id="submit-form" type="button" value="일정 등록">
                <input class="ui button nanumsquare" id="cancel_newsched" type="button" value="취소">
            </div>
        </form>
    </div>

      <div id="cont_divider" class="ui vertical divider" style="position: relative"></div>

      <div class="twelve wide column">
        <script>
          function onTest(json, status) {
            $('#write_diary').attr({'style':'display: none !important'});
            console.log(json);
            $('#mod_right_content').html(`<div class="ql-editor">`+json.load_title+json.load_diary+`</div>`);
            for(var i = 0; i < $('.ql-editor>p>img').length; i++) {
              $('#imgId_'+i).attr('src', json.images[i]);
            }
          }
        </script> 
        <!-- 8월22일 채원 -->
        <div id='mod_right_content'>
          <i class="big close icon"></i>
          <div id='diary_hnc'>
            <!-- <h3 id='diary_head'></h3> 제목 -->
            <!-- <div id='diary_content'></div> 내용 -->
          </div>
          <div id='new_diary_hnc'>
            <h3 id='new_diary_head' class="nanumsquare">아직 오늘의 일기를 작성하지 않으셨나요?</h3>
            <button class='fluid ui button nanumsquare' id='new_diary_content'>+ 새 일기 작성</button>

          </div>
          <div id='write_diary'>
            <div id="title_layout">
              <input id="title" type="text" class="nanumsquare" placeholder="제목을 입력하세요" form="uploader_img_diary">

              <div id="기분날씨">
                <div class="ui inline dropdown" id='emotion'>
                  <div class="text">
                    <img class="ui image default_emotion" id='sel_emotion' src="/images/emotion/073-muted-1.png"> 기분
                  </div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/073-muted-1.png"> 선택 안함
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/048-smile.png"> 좋아요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/021-sad.png"> 슬퍼요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/034-neutral.png"> 그저 그래요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/097-angry.png"> 화나요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/077-sick.png"> 아파요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/016-sleeping.png"> 졸려요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/008-tired.png"> 피곤해요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/013-smiling-1.png"> 즐거워요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/018-shocked-2.png"> 놀라워요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/029-puking.png"> 언짢아요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/040-laughing.png"> 웃겨요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/044-tongue-3.png"> 맛있어요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/079-kiss.png"> 설레요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/089-confused.png"> 당황스러워요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/099-angel.png"> 행복해요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/100-alien.png"> 이 세계가 싫어요
                    </div>
                    <div class="item">
                      <img class="ui image default_emotion" src="/images/emotion/090-clown-1.png"> 재밌어요
                    </div>
                  </div>
                </div>

                <div class="ui inline dropdown" id='weather'>
                  <div class="text">
                    <img class="ui image default_weather" src="/images/weather/021-sunrise.png"> 날씨
                  </div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-sunrise.png"> 선택 안함
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-sun.png"> 맑음
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-cloudy.png"> 가끔 구름
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-cloud.png"> 바람구름
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-cloudy-1.png"> 구름
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-night.png"> 보름달
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-night-1.png"> 반달
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-rain.png"> 비
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-rain-1.png"> 가끔 비
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-rain-2.png"> 장마
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-snowflake.png"> 서리
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-snowing.png"> 가끔 눈
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-snowing-1.png"> 진눈깨비
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-snowing-2.png"> 눈
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-storm.png"> 번개
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-summer.png"> 폭염
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-sun.png"> 맑음
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-tornado.png"> 폭풍
                    </div>
                    <div class="item">
                      <img class="ui image default_weather" src="/images/weather/021-winter.png"> 혹한
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div id="toolbar-container">
              <span class="ql-formats">
                <select class="ql-header">
                  <option value="1">Heading</option>
                  <option value="2">Subheading</option>
                  <option selected>Normal</option>
                </select>
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
                <select class="ql-color">
                  <option selected></option>
                  <option value="red"></option>
                  <option value="orange"></option>
                  <option value="yellow"></option>
                  <option value="green"></option>
                  <option value="blue"></option>
                  <option value="purple"></option>
                </select>
                <select class="ql-background">
                  <option selected></option>
                  <option value="red"></option>
                  <option value="orange"></option>
                  <option value="yellow"></option>
                  <option value="green"></option>
                  <option value="blue"></option>
                  <option value="purple"></option>
                </select>
                <select class="ql-align">
                  <option selected></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
                <button class="ql-clean"></button>
                <button class="ql-image"></button>
              </span>

            </div>

            <div id="editor-container" class="nanumsquare">

            </div>

            <div style="display:flex; justify-content: center;">
              <button class="ui yellow button nanumsquare" id='적용' type="button" form="uploader_img_diary" onclick="editorOK();">완료</button>
              <button class="ui button nanumsquare" id='취소' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <form id="uploader_img_diary" name="actionUploadDiaryImg" action="/actionUpload_images" method="POST" enctype="multipart/form-data" style="width: 0; height: 0; display: none;"></form>

  <script src="//rawgit.com/Soldier-B/jquery.toast/master/jquery.toast/jquery.toast.min.js"></script>
  <script src="../javascripts/calendar.js"></script>
  <script src="../javascripts/schedule.js"></script>
  <script src="../javascripts/quill-uploader.js"></script>

  <script>
    async function setup() {
      var settings = await callAppSettings();
      console.log(settings);
      dateDecorator(settings.gCalSync);
      $('#btn_cal_sync').attr('onclick', 'emptyCalendar();buildCalendar(`<%= startDateOpt %>`);dateDecorator('+settings.gCalSync+');');
    }
    
    $('.ui.dropdown').dropdown();
    buildCalendar('<%= startDateOpt %>');
    getProfImage();
    reloadUserInfo(1);
    setDiarySummary();
    setup();
    
    //getGoogleCalDatas('def', 'def', false);
  </script>
</body>

</html>